/* General Header Styles */
.header {
  background-color: white;
  position: relative;
  box-shadow: 0 0 10px #ddd;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 0 150px;
}

.logo {
  color: var(--main-color);
  font-size: 26px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 767px) {
  .logo {
    width: 100%;
    font-size: 22px;
    padding-left: 15px; /* Add padding for smaller screens */
  }

  .container {
    padding: 0 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* Navigation Styles */
.mainNav {
  display: flex;
}

.mainNav > li {
  position: relative;
}

.mainNav > li > a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  padding: 0 30px;
  font-size: 18px;
  color: black;
  transition: var(--main-transition);
}

/* For Mobile: Stack the menu vertically */
@media (max-width: 767px) {
  .mainNav {
    flex-direction: column;
    width: 100%;
  }

  .mainNav > li > a {
    padding: 15px;
    font-size: 16px;
    height: auto;
    width: 100%;
    text-align: left;
  }

  .mainNav > li > a:hover {
    background-color: #fafafa;
  }
}

/* Mega Menu */
.megaMenu {
  position: absolute;
  left: 0;
  width: 300px; /* Set fixed width for larger screens */
  background-color: white;
  display: flex;
  gap: 20px;
  top: calc(100% + 50px);
  opacity: 0;
  transition: top var(--main-transition), opacity var(--main-transition);
}

@media (max-width: 767px) {
  .megaMenu {
    position: static;
    width: 100%;
    gap: 0;
    flex-direction: column;
    padding: 10px;
    display: none; /* Hide mega menu by default */
  }

  /* Show mega menu on hover for mobile */
  .mainNav > li:hover .megaMenu {
    display: block;
  }
}

.image img {
  max-width: 100%;
}

.links {
  min-width: 225px;
}

.links li a {
  color: var(--main-color);
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  display: block;
}

@media (max-width: 767px) {
  .links li a {
    font-size: 14px;
  }
}

/* Dark Mode Styles */
.dark {
  background-color: #333;
  color: #fff;
}

.dark .header {
  background-color: #444;
  color: #fff;
}

.dark .mainNav > li > a {
  color: #fff;
}

.dark .megaMenu {
  background-color: #444;
  border-bottom: 4px solid #666;
}

/* Toggle Button Styles */
.toggleButton {
  background-color: var(--main-color);
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  margin: 0 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.toggleButton:hover {
  background-color: #555;
}

@media (max-width: 767px) {
  .toggleButton {
    margin: 10px 0;
    font-size: 14px;
    padding: 8px 12px;
    width: 100%;
  }
}
